{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h1>Available Applications</h1>

  <div class="row row-cols-2 row-cols-md-4 g-4">
    {% for obj in object_list %}
    <div class="col">
      <div class="card h-100">
        <a href="{{ obj.url }}" target="_blank" style="text-decoration: none; color: hsl(60, 3%, 7%);">
          <div class="card-body border text-center">
            <img src="{{ obj.icon.url }}" class="app-icon" alt="{{ obj.name }} Icon">
            <h5 class="card-title">{{ obj.name }}</h5>
            <p class="card-text">{{ obj.description }}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
